.game {
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid rgb(250, 250, 250);
    border-right: 2px solid rgb(250, 250, 250);
    border-top: 2px solid rgb(120, 120, 120);
    border-left: 2px solid rgb(120, 120, 120);
  }

  &__numbers {
    display: flex;
  }

  &__emoji {
    display: flex;
  }
}